@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

.nav {
    width: 254px;
    background-color: #2B2B2B;
    padding-top: 105px;
    padding-left: 30px;
    font-family: 'Outfit', sans-serif;
    
}

.items {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    
}

.item {
    list-style-type: none;
}

.item a {
    text-decoration: none;

    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    
}

.active {
    color: gold;
    display: flex;
    align-items: center;
    column-gap: 35px;
    user-select: none;
}

.link {
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 35px;
    user-select: none;
}